</head>
<body>
    
<div id="page-container">
    <div id="content-wrap">

<nav>
     <div class="row">
       <a href="/">
            <div class="home">
                <i class="fas fa-angle-double-right icon"></i> <span>kroz</span>
            </div>
        </a>
        <div class="cart unAuth">
            <a class="link link-small" href="/cart"><i class="fas icon-ecommerce-cart authi spec"></i></a>
        </div>
        
        <ul class="nav-list">
            <% if(!isAuthenticated) { %> 
                <li class="nav-item  unAuth">
                    <a class="link link-small link-standard" href="/login"><i class="fas fa-user authi"></i>login</a>
                </li>
                <li class="nav-item unAuth">
                    <a class="link link-small link-standard" href="/signup"><i class="fas fa-user-plus authi"></i>register</a>
                </li>
            <% } else { %>
                <form action="/logout" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="link link-small link-standard sp" >logout</button>
                </form>

                <li class="nav-item link-small">
                    <a href="/user/<%=user._id%>">
                        <button class="prof">
                            <img src="/<%=user.imageUrl%>" alt="user.name" />
                        </button>
                    </a>
                </li>
            <% } %>
        </ul>
     </div>
 </nav>