.order-container {
    /* text-align: center; */
    padding: 1rem;
    box-shadow: 1px 1px 3px red;
    width: 60rem;
    margin: 4rem auto;
    font-size: 2rem;
    position: relative;
}

.main-heading {
    margin-top: 2rem;
}

.date {
    font-size: 1rem;
    position: absolute;
    right: 1rem;
    top: 1.5rem;
}

@media only screen and (max-width: 730px){
    .order-container {
        width: 96%;
        height: 6rem;
    }
    .date {
        left: 1rem;
        top: 4rem;
    }
}