<%- include('../partials/header.ejs') %>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="stylesheet" href="/stylesheets/cart.css">

<%- include('../partials/nav.ejs') %>

    <h2 class="main-heading">page not found</h2>

<%- include('../partials/footer.ejs') %>